@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

html {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ヘッダー */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  font-family: 'Caveat', cursive;
  z-index: 1;
}

#container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: rgb(40, 40, 40);
  background-color: rgb(255, 255, 255, 0);
  transition: opacity 2s;
  opacity: 0;
}

#container.current {
  opacity: 1;
}

header a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

header .logo {
  margin: 1rem 0 0 2rem;
  max-width: 350px;
  min-width: 250px;
}

header .logo img {
  width: 65%;
}

@media (min-width: 920px) {
  header .pc-menu {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }

  header .logo {
    margin: 1rem 0 0 4rem;
    max-width: 450px;
  }
  
  .sp-menu {
    display: none;
  }
}

.pc-menu {
  display: none;
}

header .pc-menu nav {
  min-width: 700px;
  display: flex;
  justify-content: center;
  height: 100%;
}

header .pc-menu ul {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

header .pc-menu li {
  list-style: none;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .8s;
}

header .pc-menu .display {
  font-size: 24px;
  transition: all .3s;
}

header .pc-menu li:nth-child(1) {
  padding: 0 12px;
}

header .pc-menu li:nth-child(6) {
  padding: 0 16px;
}

.hover-display {
  opacity: 0;
}

.hidden-menu::after {
  position: absolute;
  left: 0;
  top: 38px;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -0px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.5s;
}

header .pc-menu li:hover .hidden-menu::after {
  transform: scale(1, 1);
}

header .pc-menu li:hover {
  opacity: .8;
}

header .pc-menu li:hover .hover-display {
  opacity: .8;
  transform: scale(1, 1);
}

header .pc-menu li:hover .display {
  opacity: 0;
}

header .pc-menu li a {
  position: absolute;
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-size: 1em;
  text-align: center;
  padding: 15px 12px;
}

/* ハンバーガーメニュー */

.background {
  visibility: hidden;
  width: 80px;
  transition: all .3s;
}

.background.display {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  background: #fff;
}

.sp-menu {
  margin-left: auto;
  margin-right: 24px;
  text-align: right;
  visibility: visible;
}

.sp-menu #open {
  font-size: 36px;
  line-height: 100px;
  cursor: pointer;
}

/* hideクラスが付いたらハンバーガーメニューを消す */
.sp-menu #open.hide {
  display: none;
}

.overlay {
  background: rgb(164, 255, 164);
  min-height: 700px;
  border-top-right-radius: 200px;
  text-align: center;
  padding: 64px;
  visibility: hidden;
  pointer-events: none;
}

.overlay.show {
  visibility: visible;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 32px;
  right: 26px;
  font-size: 32px;
  cursor: pointer;
}

.overlay .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .title img {
  padding-top: 4px;
}

.overlay a {
  text-decoration: none;
}

.overlay a h1 {
  position: relative;
  border-bottom: 5px solid;
  margin: 0 auto;
  color: rgb(40, 40, 40);
}

.overlay a h1:before,
.overlay a h1:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
}

.overlay a h1:before {
  border: 16px solid;
  border-color: transparent;
  border-top-color: black;
  margin-left: -16px;
}

.overlay a h1:after {
  border: 10px solid;
  border-color: transparent;
  border-top-color: white;
  margin-left: -10px;
}

.overlay ul {
  margin-top: 48px;
  padding: 0;
}

.overlay li {
  list-style: none;
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .8s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.overlay.show li:nth-child(6) {
  transition-delay: .6s;
}

.overlay li a {
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-size: 24px;
}

/* トップ画像 */

.top-img {
  position: relative;
  width: 85%;
  top: 130px;
  min-height: 550px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  margin-bottom: 15vw;
}

.top-img #move {
  position: absolute;
  max-height: 100%;
  min-height: 50%;
  width: 100%;
  transition: all .6s;
  animation-name: fadeInAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.top-img .top-picture {
  position: absolute;
  max-height: 100%;
  min-height: 50%;
  width: 100%;
  border-top-left-radius: 20% 30%;
  border-bottom-right-radius: 20% 30%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
  z-index: 1;
}

.wad {
  border-top-left-radius: 20% 30%;
  border-bottom-right-radius: 20% 30%;
}

.top-img .current {
  opacity: 1;
}

main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

hr {
  margin: 0;
  margin-top: 36px;
  border: 0;
  border-top: 4px dashed rgb(129, 129, 129);
  height: 1em;
  text-align: center;
  overflow: visible;
  transition: all .6s;
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr::after {
  content: "\002702";
  background: rgb(247, 247, 247);
  color: rgb(129, 129, 129);
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  top: -1em;
  padding: 0 0.5em;
}


/* メイン共通 */

.img-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  user-select: none;
}

main h2 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 4px;
  font-family: 'Noto Serif JP', sans-serif;
  margin: 0;
  margin-bottom: 72px;
}

main .shadow {
  display: inline-block;
  text-align: center;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  font-weight: normal;
  letter-spacing: 16px;
  transform: rotate(-3deg);
  color: #fff;
  font-size: 84px;
  text-shadow: 0 65px 2px rgb(100, 100, 100);
  opacity: .3;
}

main .text {
  margin-top: 5rem;
}

main p {
  font-size: .9rem;
  letter-spacing: 1px;
}

main .text-detail {
  margin: 5em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.text-detail:before,
.text-detail:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.text-detail:before {
  left: 10px;
}

.text-detail:after {
  right: 10px;
}

.text-detail h5 span {
  font-size: 1rem;
  background: linear-gradient(transparent 60%, rgb(164, 255, 164) 60%);
}

.text-detail p {
  margin: 0;
  padding: 0;
}

.text h4 {
  font-size: 1.2rem;
  margin: 0;
  width: 80px;
  border-bottom: 2px solid rgb(149, 149, 149);
}

.more-btn {
  text-align: center;
  margin-bottom: 100px;
}

.more-btn a {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  transition: 0.4s ease-in-out;
  font-size: 18px;
  letter-spacing: 4px;
  text-decoration: none;
}

.more-btn a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right .5s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

.more-btn a:hover {
  background: rgb(85, 194, 85);
  color: #FFF;
}

.more-btn a:hover:after {
  right: 1.4rem;
}

/* コンセプト、スタイリスト */

.concept,
.stylist {
  margin: 0;
  justify-content: center;
}

.stylist {
  margin-bottom: 72px;
}

.concept img {
  position: relative;
  max-height: 530px;
  max-width: 480px;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-top-left-radius: 15% 25%;
  border-bottom-right-radius: 15% 25%;
}

.concept img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: rotate(3deg);
  z-index: -1;
}

.stylist img {
  max-height: 334px;
  max-width: 250px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15% 15%;
  border-bottom-right-radius: 15% 15%;
}

.style {
  text-align: center;
  height: 70%;
  margin-bottom: 60px;
}

.style P {
  margin: 12px 0 0;
}

.style img {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
}

/* メニュー */

.menu .menu-box {
  margin: 60px 0;
}

.menu .menu-box:nth-child(1) {
  margin: 0;
}

.menu h3 {
  font-size: 24px;
  letter-spacing: 4px;
  margin: 0;
}

.menu .list {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  border-bottom: solid 2px rgb(62, 62, 62);
}

.menu p {
  margin: 24px 0 8px;
}

/* レビュー */

.review .text-detail:nth-child(1) {
  margin-top: 0;
}

/* フッター */

footer {
  margin: 0;
  background: black;
  color: #fff;
}

footer h1 {
  letter-spacing: 2px;
  margin: 0;
  padding: 16px 0 0 24px;
}

footer dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

footer dt {
  width: 18%;
  font-weight: bold;
  margin: 8px 0 16px 2%;
  padding-bottom: 8px;
  border-bottom: .5px solid rgb(119, 119, 119);
}

footer dd {
  width: 75%;
  margin: 8px 0 16px 0;
  padding-left: 2%;
  padding-bottom: 8px;
  color: rgb(215, 214, 214);
  border-bottom: .5px solid rgb(119, 119, 119);
}

footer a {
  text-decoration: none;
  color: rgb(190, 174, 251);
}

footer .copyright {
  margin: 0;
  padding: 24px 0;
  text-align: center;
  font-size: 12px;
  color: rgb(168, 168, 168);
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .8s, transform .8s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* メディアクエリ */

@media(min-width: 1000px) {

  .concept p,
  .stylist .text {
    font-size: 1.2vw;
  }

  .text-detail span {
    font-size: 1.1vw;
  }

  .text-detail p {
    font-size: 1vw;
  }

  .menu .menu-list,
  .review .review-list {
    display: flex;
    justify-content: space-between;
  }

  .menu .menu-box,
  .review .text-detail {
    margin: 0 1em 5em 0;
    width: 100%;
  }

  .menu .list {
    margin-bottom: 1rem;
  }
}

@media(min-width: 700px) {

  .content {
    display: flex;
  }

  .content .img-box {
    flex: 1;
  }

  .content .text {
    flex: 1;
    margin: 0;
  }

  .content .text p:nth-child(1) {
    margin-top: 5vw;
  }

  .concept .title {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }

  .concept .title h2,
  .stylist .title h2 {
    margin: 0;
  }

  .concept .text p {
    margin: 32px;
  }

  .concept .text-detail {
    display: block;
  }

  .concept img {
    margin-top: -30px
  }

  .stylist .content {
    flex-direction: row-reverse;
  }

  .stylist .title {
    width: 50%;
    margin-right: auto;
    margin-left: 0;
  }

  .stylist h4 {
    margin-top: 60px;
  }

  .stylist p {
    margin: 3vw 12px 0 0;
  }

  .stylist img {
    max-height: 467px;
    max-width: 350px;
    margin-top: -60px;
  }

  .catalog {
    display: flex;
    justify-content: space-around;
  }

  .animate.delay {
    transition-delay: .5s;
  }

  .animate.delay-more {
    transition-delay: 1s;
  }
}

@media(max-width: 700px) {
  .top-img {
    min-height: 600px;
  }
}

@media(max-width: 550px) {
  .top-img {
    min-height: 500px;
  }

  .styles .shadow {
    font-size: 68px;
    text-shadow: 0 54px 2px rgb(100, 100, 100);
  }
}

@media(max-width: 450px) {
  #title {
    margin-left: 12px;
  }
  
  .sp-menu {
    margin-right: 12px;
  }

  .overlay h1 {
    font-size: 40px;
  }

  .overlay #close {
    right: 12px;
  }

  .top-img {
    min-height: 420px;
  }

  .styles .shadow {
    letter-spacing: 10px;
  }
}
